// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
//$brand-primary:         #673AB7;
//$brand-primary: #1B5E20;
//$brand-success: #3F51B5;
//$brand-info: #FFEB3B;
//$brand-warning: #FF9800;
//$brand-danger: #F44336;
